{% extends 'base.html' %}
{% block title %}Каталог{% endblock %}
{% block base_body %}
Категории, кароч...<br>
{% for foo in category %}
    Наименование: {{ foo.title }}<br>
    <img src="{{ foo.preview.url }}"> <br>
    Описаловка: {{ foo.descriptions }} <hr>
{% endfor %}

Ну и на последок, тавары!!!<br>
    {% if items.count == 0 %}
        <b><h2><i>Пиздец</i></h2>, нихуя нет...</b>
    {% else %}
        {% for item in items %}
            <table border="1px">
                <tr>
                    <td><b>Тайтл</b> - {{ item.title }}</td>
                </tr>
                <tr>
                    <td><b>Превьюха</b><br><img src="{{ item.preview.url }}"></td>
                </tr>
                <tr>
                    <td><b>Лайков</b> - {{ item.likes.count }}</td>
                </tr>
                <tr>
                    <td><b>Баланс</b> - {{ item.balance }}</td>
                </tr>
                <tr>
                    <td><b>Описаловка</b> - {{ item.descriptions }}</td>
                </tr>
            </table>
        {% endfor %}
    {% endif %}

{% endblock %}